.Als-beef {
	background: url('/images/als-beef/bg.jpg') no-repeat;
	background-size: contain;
	.Brand__logo, 
	.Brand__images,
	.Brand__emoji {
		background: #FEF200;
	}

	.Brand__hero {
		background-image: url('/images/als-beef/cover.jpg');
	}

	.emoji {
		color: black;
	}
	
	.About {
		background: #FAF8EB url('/images/als-beef/about.png') right center no-repeat;
	}
}