$alsbeefYellow: #FEF200;

.Als-beef {
	background: url('/images/als-beef/bg.jpg') no-repeat;
	background-size: contain;
	header {
		background: url('/images/header-shadow.png') repeat-x;
		.nav__item {
			a {
				color: black;
			}
		}
	}
	.Brand__logo, 
	.Brand__images,
	.Brand__emoji {
		background: $alsbeefYellow;
	}

	.Brand__hero {
		background-image: url('/images/als-beef/cover.jpg');
	}

	.emoji {
		color: black;
	}
	
	.About {
		background: #F9F9F9 url('/images/als-beef/about.png') right center no-repeat;	
	}

	.Get-started {
		background: $alsbeefYellow;
		.Section__title {
			color: black;
		}
	}
}