.Als-Beef {
	.Brand__content {
		background: rgba(255, 242, 0, 0.8);
		h3, p, ul li {
			color: #333;
		}
	}
}

.Queens-Chips {
	.Brand__content {
		background: rgba(37,70,51,.8);
		h3, p, ul li {
			color: white;
		}
	}
}

.Nancys-Pizza {
	.Brand__content {
		background: rgba(35,31,32,.8);
		h3, p, ul li {
			color: white;
		}
	}
}

.Krush-Burger {
	.Brand__content {
		background: rgba(248,168,10,.8);
		h3, p, ul li {
			color: #333;
		}
	}
}

.Backyard-Burger {
	.Brand__content {
		background: rgba(35,31,32,.8);
		h3, p, ul li {
			color: white;
		}
	}
}