.Brand__logo--container {
	flex: 0.25;
}

.Brand__logo {
    color: white;
}

.Brand__inquiry {
    color: #333;
	background: #ddd;
}

.Brand__hero {
	flex: 0.75;
    width: 100%;
    height: 640px;
    position: relative;
    background-size: cover;
	background-repeat: no-repeat;
    background-position: top center;
}

.Brand__hero--content {

}

.Brand__images {
	height: 50vh;
	background: red;
}

.Brand__video {
	height: 50vh;
	background: green;
}

.Brand__branding {
	flex: 0.3;
	background: $skyBlue;
}

.Brand__menus {
	flex: 0.4;
}

.Brand__testimonials {
	flex: 0.3;
	background: url('/images/wood-sm.jpg') no-repeat;
}

.Social__instagram {
	background: #3D6B92;
	.fa {
		color: white;
	}
}

.Social__twitter {
	background: #55acee;
	.fa {
		color: white;
	}
}

.Social__facebook {
	background: #3b5998;
	.fa {
		color: white;
	}
}

.Download {
	background: url('/images/wood-lg.jpg') no-repeat;
}

.About {
	height: 50vh;
	padding: 40px;
	background: #ddd;
}

.FindUs {
	height: 50vh;
	background: red;
}

#GoogleMap {
	width: 100%;
	height: 100%;
}

.Newsletter {
	background: $orange;
	position: relative;
	h4 {
		color: white;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: -1px;
	}
	&:before, &:after {
		content: "";
		left: 0;
		width: 100%;
		height: 6px;
		position: absolute;
		background: url('/images/newsletter-strap.png') repeat-x;
	}
}

.Promo {
	background: url('/images/wood-sm.jpg') no-repeat;
	h4 {
		color: white;
	}
}
