.Als-Beef {
	background: rgba(255, 242, 0, 0.8);
}

.Queens-Chips {
	background: rgba(37,70,51,.8);
	color: white;
}

.Nancys-Pizza {
	background: rgba(35,31,32,.8);
}

.Krush-Burger {
	background: rgba(248,168,10,.8);
}

.Backyard-Burger {
	background: rgba(35,31,32,.8);
}