.Queens-chips {

	.primary-color {
		background: #2A4634;
	}
	
	.secondary-color {
		background: #FCCE01;
	}

	.theme-color {
	    color: #2A4634;
	    font-weight: bold;
	}

	.Brand__logo {
		background: #2A4634;
	}

	.Brand__hero {
		background-image: url('/images/queens-chips-cover.jpg');
	}

	.Brand__hero--title {
		color: white;
		font-size: 46px;
		font-weight: bold;
		margin-bottom: 30px;
	}

	.Brand__hero--description {
		color: white;
		font-size: 20px;
		padding: 0px 40px;
		text-align: center;
	}

	.Brand__branding {
		background: #FCCE01;
	}

	.emoji {
		color: #2A4634;
	}
	
	.Brand__menus {
		background: #2A4634;
	}

	.About {
		background: #FAF8EB url('/images/queens-chips-sauces.jpg') right bottom no-repeat;
	}

	.Newsletter {
		background: #FCCE01;
	}

	.FindUs {
		background: #2A4634;
	}
}

.Als-Beef {
	background: rgba(255, 242, 0, 0.8);
}

.Queens-Chips {
	background: rgba(37,70,51,.8);
	color: white;
}

.Nancys-Pizza {
	background: rgba(35,31,32,.8);
}

.Krush-Burger {
	background: rgba(248,168,10,.8);
}

.Backyard-Burger {
	background: rgba(35,31,32,.8);
}