.Eyescream {
	background: url('/images/eyescream/bg.jpg') no-repeat;
	background-size: contain;
	.Brand__logo, 
	.Brand__images {
		background: #EA5E5C;
	}

	.Brand__hero {
		background-image: url('/images/eyescream/cover.jpg');
	}

	.Brand__emoji {
		background: #FADA55;
	}

	.emoji {
		color: #EA5E5C;
	}
	
	.About {
		background: #F9F9F9 url('/images/eyescream/about.jpg') right center no-repeat;
	}
}