$eyescreamPink: #EA5E5C;
$eyescreamYellow: #FADA55;

.Eyescream {
	background: url('/images/eyescream/bg.jpg') no-repeat;
	background-size: contain;
	header {
		background: none;
	}
	.Brand__logo, 
	.Brand__images,
	.modal-header {
		background: $eyescreamPink;
	}

	.Brand__hero {
		background-image: url('/images/eyescream/cover.jpg');
	}

	.Brand__emoji {
		background: $eyescreamYellow;
	}

	.emoji {
		color: $eyescreamPink;
	}
	
	.About {
		background: #F9F9F9 url('/images/eyescream/about.jpg') right center no-repeat;
	}

	.Content {
		margin-bottom: 0;
	}

	.Characters {
		margin-top: 40px;
	}

	.Get-started {
		background: $eyescreamPink;
		.Section__title {
			color: white;
		}
	}
}