$footerTextColor: #34383B;

footer {
	background: #F9F9F9;
	padding: 40px 0px 0px;
	.Footer__logo {
		img {
			margin: 0 auto;
		}
	}

	li {
		line-height: 24px;
	}

	a {
		color: $footerTextColor;
		text-decoration: none;
		&:hover {
			color: $footerTextColor;
			text-decoration: underline;
		}
	}
}

.Footer__title {
	color: $footerTextColor;
	margin-bottom: 30px;
}

.Footer__text {
	color: $footerTextColor;
}

.Links {
	list-style: none;
	padding-left: 0;
	text-align: right;
}

.Follow_us {
	list-style: none;
	padding-left: 0;
	li {
		margin: 0 20px;
	}
}

.Copyright {
	padding: 20px;
	margin-top: 40px;
	border-top: 1px solid #ddd;
	p {
		color: $footerTextColor;
	}
}