.Row {
	display: flex;
}

.Column-12 {
	flex: 1;
}

.Column-9 {
	flex: 0.7;
}

.Column-6 {
	flex: 0.5;
}

.Column-3 {
	flex: 0.3;
}

.Flex {
	display: flex;
}

.Flex-1 {
	flex: 1;
}

.Flex--column {
	flex-direction: column;
}

.Flex--end {
	align-items: flex-end;
}

.Flex--center {
	align-items: center;
	justify-content: center;
}