.Krush-burger {
	background: url('/images/krush-burger/bg.JPG') no-repeat;
	background-size: contain;
	.Brand__logo, 
	.Brand__images {
		background: #FAA31B;
	}

	.Brand__hero {
		background-image: url('/images/krush-burger/cover.jpg');
	}

	.Brand__emoji {
		background: #761213;
	}

	.emoji {
		color: #FAA31B;
	}
	
	.About {
		background: #F9F9F9;
	}

	.Newsletter {
		background: #FAA31B;
	}

	.FindUs {
		.Section__title {
			color: #333;
			font-weight: 700;
		}
	}
}