.Krush-burger {
	background: url('/images/krush-burger/bg.JPG') no-repeat;
	background-size: contain;
	.Brand__logo, 
	.Brand__images {
		background: #FAA31B;
	}

	.Brand__hero {
		background-image: url('/images/krush-burger/cover.jpg');
	}

	.Brand__emoji {
		background: #761213;
	}

	.emoji {
		color: #FAA31B;
	}
	
	.About {
		background: #FAF8EB url('/images/queens-chips/about.jpg') right bottom no-repeat;
		.Section__title {
			color: #2A4634;
		}
	}

	.Newsletter {
		background: #FAA31B;
	}

	.FindUs {
		.Section__title {
			color: #333;
			font-weight: 700;
		}
	}
}