$krushOrange: #FAA31B;
$krushRed: #761213;

.Krush-burger {
	background: url('/images/krush-burger/bg.JPG') no-repeat;
	background-size: cover;
	header {
		background: url('/images/header-shadow.png') repeat-x;
	}
	.Brand__logo, 
	.Brand__images,
	.Brand__testimonials {
		background: $krushOrange;
	}

	.Brand__hero {
		background-image: url('/images/krush-burger/cover.jpg');
	}

	.Brand__emoji {
		background: $krushRed;
	}

	.emoji {
		color: $krushOrange;
	}
	
	.About {
		background: #F9F9F9;
	}

	.modal-header {
		background: $krushRed;
	}

	.Download-container {
		padding: 40px 0px;
		background: $krushOrange;
		border-top: 8px solid $krushRed;
		border-bottom: 8px solid $krushRed;

		.Section__title {
			color: $krushRed;
		}

		ul {
			list-style: none;
			padding-left: 0;
			li {
				margin-right: 20px;
			}
		}
	}

	.Download {
		display: block;
		text-indent: -9999px;
		background: url('/images/krush-burger/download.png') no-repeat;
	}

	.Download--google-play {
		width: 197px;
		height: 64px;
		background-position: -2px -2px;
	}

	.Download--appstore {
		width: 196px;
		height: 66px;
		background-position: -2px -70px;
	}
}