$nancyBlack: #231F20;
$nancyRed: #EB2126;

.Nancys-pizza {
	background: url('/images/nancys-pizza/bg.jpg') no-repeat;
	background-size: contain;
	header {
		background: url('/images/header-shadow.png') repeat-x;
	}
	.Brand__logo, 
	.Brand__images {
		background: $nancyBlack;
	}

	.Brand__hero {
		background-image: url('/images/nancys-pizza/cover.jpg');
	}

	.Brand__emoji {
		background: $nancyRed;
	}

	.emoji {
		color: white;
	}
	
	.About {
		background: #F9F9F9;
	}

	.Get-started {
		background: $nancyBlack;
		.Section__title {
			color: white;
		}
	}
}