.Nancys-pizza {
	background: url('/images/nancys-pizza/bg.jpg') no-repeat;
	background-size: contain;
	.Brand__logo, 
	.Brand__images {
		background: #231F20;
	}

	.Brand__hero {
		background-image: url('/images/nancys-pizza/cover.jpg');
	}

	.Brand__emoji {
		background: #EC1B23;
	}

	.emoji {
		color: white;
	}
	
	.About {
		background: #FAF8EB url('/images/queens-chips/about.jpg') right bottom no-repeat;
		.Section__title {
			color: #2A4634;
		}
	}

	.Newsletter {
		background: #FADA55;
	}

	.FindUs {
		.Section__title {
			color: #333;
			font-weight: 700;
		}
	}
}