//

header {
	nav {
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		ul {
			list-style: none;
			padding-left: 0;
		}
	}
}

.nav__item {
	margin: 0px 10px;
	a {
		color: white;
		font-size: 16px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}