.Queens-chips {
	background: url('/images/queens-chips/bg.jpg') no-repeat;
	background-size: contain;
	.Brand__logo, 
	.Brand__images {
		background: #2A4634;
	}

	.Brand__hero {
		background-image: url('/images/queens-chips/cover.jpg');
	}

	.Brand__emoji {
		background: #FCCE01;
	}

	.emoji {
		color: #2A4634;
	}
	
	.About {
		background: #FAF8EB url('/images/queens-chips/about.jpg') right bottom no-repeat;
	}

	.Newsletter {
		background: #FCCE01;
	}

	.FindUs {
		.Section__title {
			color: #333;
			font-weight: 700;
		}
	}
}