$queensChipsGreen: #2A4634;
$queensChipsYellow: #FCCE01;

.Queens-chips {
	background: url('/images/queens-chips/bg.jpg') no-repeat;
	background-size: contain;
	header {
		background: url('/images/header-shadow.png') repeat-x;
	}
	.Brand__logo, 
	.Brand__images,
	.modal-header {
		background: $queensChipsGreen;
	}

	.Brand__hero {
		background-image: url('/images/queens-chips/cover.jpg');
	}

	.Brand__emoji {
		background: $queensChipsYellow;
	}

	.emoji {
		color: $queensChipsGreen;
	}
	
	.About {
		background: #FAF8EB url('/images/queens-chips/about.jpg') right bottom no-repeat;
	}

	.Get-started {
		background: $queensChipsGreen;
		.Section__title {
			color: white;
		}
	}
}