@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.color-white {
  color: white !important; }

.has-padding-20 {
  padding: 20px; }

body {
  background: white; }

.Content {
  margin-bottom: 20rem; }

.Section__title {
  margin: 0;
  color: white;
  font-size: 30px;
  margin-bottom: 20px; }

.emoji {
  font-size: 80px;
  font-family: sans-serif; }

.Hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("/images/home-banner.jpg"); }

.has-vertical-scroll {
  height: 100%;
  overflow-y: scroll; }

footer {
  padding: 2rem;
  background: white; }
  footer p {
    margin: 0; }

.Row {
  display: -webkit-box;
  display: flex; }

.Column-12 {
  -webkit-box-flex: 1;
  flex: 1; }

.Column-9 {
  -webkit-box-flex: 0.7;
  flex: 0.7; }

.Column-6 {
  -webkit-box-flex: 0.5;
  flex: 0.5; }

.Column-3 {
  -webkit-box-flex: 0.3;
  flex: 0.3; }

.Flex {
  display: -webkit-box;
  display: flex; }

.Flex-1 {
  -webkit-box-flex: 1;
  flex: 1; }

.Flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.Flex--center {
  -webkit-box-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; }

.Queens-chips {
  background: url("/images/queens-chips-bg.jpg") no-repeat;
  background-size: contain; }
  .Queens-chips .primary-color,
  .Queens-chips .Brand__logo,
  .Queens-chips .Brand__images,
  .Queens-chips .Brand__video,
  .Queens-chips .Brand__menus,
  .Queens-chips footer {
    background: #2A4634; }
  .Queens-chips .secondary-color {
    background: #FCCE01; }
  .Queens-chips .Brand__hero {
    background-image: url("/images/queens-chips-cover.jpg"); }
  .Queens-chips .Brand__hero--title {
    color: white;
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 30px; }
  .Queens-chips .Brand__hero--description {
    color: white;
    font-size: 20px;
    padding: 0px 40px;
    text-align: center; }
  .Queens-chips .Brand__branding {
    background: #FCCE01; }
  .Queens-chips .emoji {
    color: #2A4634; }
  .Queens-chips .About {
    background: #FAF8EB url("/images/queens-chips-sauces.jpg") right bottom no-repeat; }
    .Queens-chips .About .Section__title {
      color: #2A4634; }
  .Queens-chips .Newsletter {
    background: #FCCE01; }
  .Queens-chips .FindUs .Section__title {
    color: #333;
    font-weight: bold; }
  .Queens-chips footer p {
    color: white; }

.Als-Beef {
  background: rgba(255, 242, 0, 0.8); }

.Queens-Chips {
  background: rgba(37, 70, 51, 0.8);
  color: white; }

.Nancys-Pizza {
  background: rgba(35, 31, 32, 0.8); }

.Krush-Burger {
  background: rgba(248, 168, 10, 0.8); }

.Backyard-Burger {
  background: rgba(35, 31, 32, 0.8); }

.Brand__logo--container {
  -webkit-box-flex: 0.25;
  flex: 0.25; }

.Brand__logo {
  color: white; }

.Brand__inquiry {
  color: #333;
  background: #ddd; }

.Brand__hero {
  -webkit-box-flex: 0.75;
  flex: 0.75;
  width: 100%;
  height: 640px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

.Brand__images {
  height: 50vh; }

.Brand__video {
  height: 50vh; }

.Brand__branding {
  -webkit-box-flex: 0.3;
  flex: 0.3; }

.Brand__menus {
  -webkit-box-flex: 0.4;
  flex: 0.4; }

.Brand__menu {
  margin-bottom: 10px; }
  .Brand__menu .Column-3 {
    margin-right: 10px; }

.Brand__testimonials {
  -webkit-box-flex: 0.3;
  flex: 0.3;
  background: url("/images/wood-sm.jpg") no-repeat; }

.testimonials {
  width: 80%;
  margin-top: 10px; }

.Brand__testimonial blockquote {
  padding: 0;
  border: none !important; }

.Brand__testimonial--text {
  font-size: 16px;
  text-align: center; }

.Social a {
  height: 100%; }
  .Social a:hover {
    text-decoration: none; }

.Social__instagram {
  background: #3D6B92; }

.Social__email {
  background: #3D6B92; }

.Social__twitter {
  background: #55acee; }

.Social__facebook {
  background: #3b5998; }

.About {
  height: 50vh;
  padding: 40px;
  background: #ddd; }

.FindUs--container {
  height: 50vh;
  position: relative; }

.FindUs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .FindUs .form-control {
    border: 1px solid #2A4634; }
  .FindUs .Section__title, .FindUs .form-group {
    width: 50%;
    z-index: 9999;
    text-align: center; }

.FindUs__content {
  height: 100%; }

#GoogleMap {
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: relative; }

.Newsletter {
  background: #FF5C01;
  position: relative; }
  .Newsletter:before {
    top: 0; }
  .Newsletter:after {
    bottom: -1px; }
  .Newsletter:before, .Newsletter:after {
    content: "";
    left: 0;
    width: 100%;
    height: 6px;
    position: absolute;
    background: url("/images/newsletter-strap.png") repeat-x; }
  .Newsletter form {
    width: 80%; }

.Promo {
  background: url("/images/wood-sm.jpg") no-repeat; }

@media screen and (max-width: 320px) {
  .Content {
    margin: 0; }
  .Brand__row {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse; }
  .Brand__content--container {
    -webkit-box-flex: 1;
    flex: 1; }
  .Brand__image--container {
    -webkit-box-flex: 1;
    flex: 1; }
  .Brand__content {
    padding: 20px; }
    .Brand__content h3 {
      font-size: 26px;
      text-align: center; }
  .Brand__image {
    top: 0;
    right: 0;
    width: 100%;
    height: 50vh;
    position: relative; }
  .Brand__row--reverse .Brand__content--container {
    top: 0; }
  .Brand__row--reverse .Column {
    margin-left: 0; } }

@media screen and (max-width: 414px) {
  .Content {
    margin: 0; }
  .Brand__row {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse; }
  .Brand__content--container {
    -webkit-box-flex: 1;
    flex: 1; }
  .Brand__image--container {
    -webkit-box-flex: 1;
    flex: 1; }
  .Brand__content {
    padding: 20px; }
    .Brand__content h3 {
      font-size: 26px;
      text-align: center; }
  .Brand__image {
    top: 0;
    right: 0;
    width: 100%;
    height: 50vh;
    position: relative; }
  .Brand__row--reverse .Brand__content--container {
    top: 0; }
  .Brand__row--reverse .Column {
    margin-left: 0; } }

.btn {
  border-radius: 0; }

.flexslider {
  border: 0 !important; }

.flex-direction-nav a {
  height: 50px !important; }

.form-control {
  border-radius: 0; }

.input-bordered {
  color: white;
  background: none;
  border: 1px solid white;
  box-shadow: none; }
  .input-bordered:active, .input-bordered:hover, .input-bordered:visited, .input-bordered:focus {
    border: 1px solid white;
    box-shadow: none; }
  .input-bordered::-webkit-input-placeholder {
    color: white; }
  .input-bordered:-moz-placeholder {
    /* Firefox 18- */
    color: white; }
  .input-bordered::-moz-placeholder {
    /* Firefox 19+ */
    color: white; }
  .input-bordered:-ms-input-placeholder {
    color: white; }

.video-js {
  width: 100%;
  height: 100%; }
  .video-js .vjs-big-play-button {
    height: 2em !important;
    width: 2em !important;
    top: 45% !important;
    left: 45% !important;
    line-height: 1.9em !important;
    border-radius: 1em !important; }

.vjs-poster {
  background-size: cover !important; }

.vjs-controls-disabled .vjs-poster {
  display: inline-block; }

/*# sourceMappingURL=app.css.map */
