.color-white {
  color: white !important; }

.has-padding-20 {
  padding: 20px; }

.min-height {
  min-height: 200px; }

.min-height-200 {
  min-height: 200px; }

body {
  background: white;
  font-family: 'Raleway', sans-serif; }

.Content {
  margin-bottom: 20rem; }

.Section__title {
  margin: 0;
  color: white;
  font-size: 30px;
  margin-bottom: 20px; }

.emoji {
  font-size: 80px;
  font-family: sans-serif; }

.Hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("/images/home-banner.jpg"); }

.has-vertical-scroll {
  height: 100%;
  overflow-y: scroll; }

footer {
  padding: 2rem;
  background: #333; }
  footer p {
    color: white;
    margin: 0; }

.Row {
  display: -webkit-box;
  display: flex; }

.Column-12 {
  -webkit-box-flex: 1;
  flex: 1; }

.Column-9 {
  -webkit-box-flex: 0.7;
  flex: 0.7; }

.Column-8 {
  -webkit-box-flex: 0.6;
  flex: 0.6; }

.Column-6 {
  -webkit-box-flex: 0.5;
  flex: 0.5; }

.Column-4 {
  -webkit-box-flex: 0.4;
  flex: 0.4; }

.Column-3 {
  -webkit-box-flex: 0.3;
  flex: 0.3; }

.Flex {
  display: -webkit-box;
  display: flex; }

.Flex-1 {
  -webkit-box-flex: 1;
  flex: 1; }

.Flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.Flex--end {
  -webkit-box-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end; }

.Flex--center {
  -webkit-box-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; }

.logo {
  width: 50px;
  height: 50px;
  background: #333; }

.Brand__logo--container {
  -webkit-box-flex: 0.25;
  flex: 0.25; }

.Brand__logo {
  color: white; }

.Brand__inquiry {
  color: #333;
  background: #ddd; }
  .Brand__inquiry .Section__title {
    color: #333; }

.Brand__hero {
  -webkit-box-flex: 0.75;
  flex: 0.75;
  width: 100%;
  height: 55vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

.Brand__menu {
  margin-bottom: 10px; }
  .Brand__menu .Column-3 {
    margin-right: 10px; }

.Brand__testimonials {
  position: relative;
  background: url("/images/wood-sm.jpg") no-repeat; }
  .Brand__testimonials::before {
    width: 90%;
    height: 90%;
    content: '';
    position: absolute;
    border: 1px solid #fefefe; }

.testimonials {
  width: 80%;
  margin-top: 10px; }

.Brand__testimonial blockquote {
  padding: 0;
  border: none !important; }

.Brand__testimonial--text {
  font-size: 16px;
  text-align: center; }

.Social a {
  height: 100%;
  min-height: 100px; }
  .Social a:hover {
    text-decoration: none; }

.Social__instagram {
  background: #3D6B92; }

.Social__email {
  background: #3D6B92; }

.Social__twitter {
  background: #55acee; }

.Social__facebook {
  background: #3b5998; }

.About {
  height: 100%;
  padding: 40px;
  background: #ddd; }

.FindUs--container {
  height: 100%;
  position: relative; }

.FindUs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .FindUs .form-control {
    border: 1px solid #2A4634; }
  .FindUs .Section__title, .FindUs .form-group {
    width: 50%;
    z-index: 9999;
    text-align: center; }

.FindUs__content {
  height: 100%; }

#GoogleMap {
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: relative; }

.Newsletter {
  min-height: 250px;
  background: #FF5C01;
  position: relative; }
  .Newsletter:before {
    top: 0; }
  .Newsletter:after {
    bottom: -1px; }
  .Newsletter:before, .Newsletter:after {
    content: "";
    left: 0;
    width: 100%;
    height: 6px;
    position: absolute;
    background: url("/images/newsletter-strap.png") repeat-x; }
  .Newsletter form {
    width: 80%; }

.Promo {
  background: url("/images/wood-sm.jpg") no-repeat; }

.Inquiry-bg {
  margin-right: 20px;
  background-size: cover;
  background-position: bottom;
  background: url("/images/inquire-now.jpg") no-repeat; }

.Eyescream {
  background: url("/images/eyescream/bg.jpg") no-repeat;
  background-size: contain; }
  .Eyescream .Brand__logo,
  .Eyescream .Brand__images {
    background: #EA5E5C; }
  .Eyescream .Brand__hero {
    background-image: url("/images/eyescream/cover.jpg"); }
  .Eyescream .Brand__emoji {
    background: #FADA55; }
  .Eyescream .emoji {
    color: #EA5E5C; }
  .Eyescream .About {
    background: #FAF8EB url("/images/queens-chips/about.jpg") right bottom no-repeat; }
    .Eyescream .About .Section__title {
      color: #2A4634; }
  .Eyescream .Newsletter {
    background: #FADA55; }
  .Eyescream .FindUs .Section__title {
    color: #333;
    font-weight: 700; }

.Nancys-pizza {
  background: url("/images/nancys-pizza/bg.jpg") no-repeat;
  background-size: contain; }
  .Nancys-pizza .Brand__logo,
  .Nancys-pizza .Brand__images {
    background: #231F20; }
  .Nancys-pizza .Brand__hero {
    background-image: url("/images/nancys-pizza/cover.jpg"); }
  .Nancys-pizza .Brand__emoji {
    background: #EC1B23; }
  .Nancys-pizza .emoji {
    color: white; }
  .Nancys-pizza .About {
    background: #FAF8EB url("/images/queens-chips/about.jpg") right bottom no-repeat; }
    .Nancys-pizza .About .Section__title {
      color: #2A4634; }
  .Nancys-pizza .Newsletter {
    background: #FADA55; }
  .Nancys-pizza .FindUs .Section__title {
    color: #333;
    font-weight: 700; }

.Krush-burger {
  background: url("/images/krush-burger/bg.JPG") no-repeat;
  background-size: contain; }
  .Krush-burger .Brand__logo,
  .Krush-burger .Brand__images {
    background: #FAA31B; }
  .Krush-burger .Brand__hero {
    background-image: url("/images/krush-burger/cover.jpg"); }
  .Krush-burger .Brand__emoji {
    background: #761213; }
  .Krush-burger .emoji {
    color: #FAA31B; }
  .Krush-burger .About {
    background: #FAF8EB url("/images/queens-chips/about.jpg") right bottom no-repeat; }
    .Krush-burger .About .Section__title {
      color: #2A4634; }
  .Krush-burger .Newsletter {
    background: #FAA31B; }
  .Krush-burger .FindUs .Section__title {
    color: #333;
    font-weight: 700; }

.Queens-chips {
  background: url("/images/queens-chips/bg.jpg") no-repeat;
  background-size: contain; }
  .Queens-chips .Brand__logo,
  .Queens-chips .Brand__images {
    background: #2A4634; }
  .Queens-chips .Brand__hero {
    background-image: url("/images/queens-chips/cover.jpg"); }
  .Queens-chips .Brand__emoji {
    background: #FCCE01; }
  .Queens-chips .emoji {
    color: #2A4634; }
  .Queens-chips .About {
    background: #FAF8EB url("/images/queens-chips/about.jpg") right bottom no-repeat; }
    .Queens-chips .About .Section__title {
      color: #2A4634; }
  .Queens-chips .Newsletter {
    background: #FCCE01; }
  .Queens-chips .FindUs .Section__title {
    color: #333;
    font-weight: 700; }

.Als-beef {
  background: url("/images/als-beef/bg.jpg") no-repeat;
  background-size: contain; }
  .Als-beef .Brand__logo,
  .Als-beef .Brand__images,
  .Als-beef .Brand__emoji,
  .Als-beef .Newsletter {
    background: #FEF200; }
  .Als-beef .Brand__hero {
    background-image: url("/images/als-beef/cover.jpg"); }
  .Als-beef .emoji {
    color: black; }
  .Als-beef .About {
    background: #FAF8EB url("/images/als-beef/about.png") right bottom no-repeat; }
    .Als-beef .About .Section__title {
      color: #2A4634; }
  .Als-beef .Newsletter .Section__title {
    color: #333; }
  .Als-beef .FindUs .Section__title {
    color: #333;
    font-weight: 700; }

.play-video-icon {
  width: 80px;
  height: 80px;
  z-index: 2;
  position: relative;
  border-radius: 100%;
  border: 1px solid #fff;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  -webkit-animation: shadowPulse 1.25s 3s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: shadowPulse 1.25s 3s infinite cubic-bezier(0.66, 0, 0, 1); }

.play-video-icon > span {
  width: 0;
  height: 0;
  margin-right: -4px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 18px solid #fff; }

@-webkit-keyframes shadowPulse {
  to {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, 0); } }

@keyframes shadowPulse {
  to {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, 0); } }

@media screen and (max-width: 320px) {
  .Content {
    margin: 0; }
  .Brand__row {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse; }
  .Brand__content--container {
    -webkit-box-flex: 1;
    flex: 1; }
  .Brand__image--container {
    -webkit-box-flex: 1;
    flex: 1; }
  .Brand__content {
    padding: 20px; }
    .Brand__content h3 {
      font-size: 26px;
      text-align: center; }
  .Brand__image {
    top: 0;
    right: 0;
    width: 100%;
    height: 50vh;
    position: relative; }
  .Brand__row--reverse .Brand__content--container {
    top: 0; }
  .Brand__row--reverse .Column {
    margin-left: 0; } }

@media screen and (max-width: 414px) {
  .Content {
    margin: 0; }
  .Brand__row {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse; }
  .Brand__content--container {
    -webkit-box-flex: 1;
    flex: 1; }
  .Brand__image--container {
    -webkit-box-flex: 1;
    flex: 1; }
  .Brand__content {
    padding: 20px; }
    .Brand__content h3 {
      font-size: 26px;
      text-align: center; }
  .Brand__image {
    top: 0;
    right: 0;
    width: 100%;
    height: 50vh;
    position: relative; }
  .Brand__row--reverse .Brand__content--container {
    top: 0; }
  .Brand__row--reverse .Column {
    margin-left: 0; } }

.flexslider {
  margin: 0 !important;
  border: 0 !important; }

.flex-direction-nav a {
  height: 50px !important; }

.flex-control-nav {
  display: none; }

.btn {
  border-radius: 0; }

.btn-link:active, .btn-link:hover, .btn-link:visited, .btn-link:focus {
  outline: 0 !important;
  box-shadow: none !important; }

.form-control {
  border-radius: 0; }

.input-newsletter {
  color: #333;
  background: none;
  border: 1px solid #333;
  box-shadow: none; }
  .input-newsletter:active, .input-newsletter:hover, .input-newsletter:visited, .input-newsletter:focus {
    border: 1px solid #333;
    box-shadow: none; }
  .input-newsletter::-webkit-input-placeholder {
    color: #333; }
  .input-newsletter:-moz-placeholder {
    /* Firefox 18- */
    color: #333; }
  .input-newsletter::-moz-placeholder {
    /* Firefox 19+ */
    color: #333; }
  .input-newsletter:-ms-input-placeholder {
    color: #333; }

.video-js {
  width: 100%;
  height: 100%; }
  .video-js .vjs-tech {
    position: relative !important; }
  .video-js .vjs-big-play-button {
    height: 2em !important;
    width: 2em !important;
    top: 45% !important;
    left: 45% !important;
    line-height: 1.9em !important;
    border-radius: 1em !important; }

.vjs-poster {
  background-size: cover !important; }

.vjs-controls-disabled .vjs-poster {
  display: inline-block; }

.modal-dialog {
  width: 60vw; }

/*# sourceMappingURL=app.css.map */
