.color-white {
  color: white !important; }

.has-padding-20 {
  padding: 20px; }

.min-height {
  min-height: 200px; }

.min-height-200 {
  min-height: 200px; }

body {
  background: white;
  font-family: 'Raleway', sans-serif; }

svg {
  width: 100%; }

.Content {
  margin-bottom: 40px; }

.Section__title {
  margin: 0;
  color: white;
  font-size: 30px;
  margin-bottom: 20px; }

.emoji {
  font-size: 80px;
  font-family: sans-serif; }

.Hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("/images/home-banner.jpg"); }

.has-vertical-scroll {
  height: 100%;
  overflow-y: scroll; }

footer {
  padding: 2rem;
  background: #333; }
  footer p {
    color: white;
    margin: 0; }

.Row {
  display: -webkit-box;
  display: flex; }

.Column-12 {
  -webkit-box-flex: 1;
  flex: 1; }

.Column-9 {
  -webkit-box-flex: 0.75;
  flex: 0.75; }

.Column-8 {
  -webkit-box-flex: 0.6;
  flex: 0.6; }

.Column-6 {
  -webkit-box-flex: 0.5;
  flex: 0.5; }

.Column-4 {
  -webkit-box-flex: .33;
  flex: .33; }

.Column-3 {
  -webkit-box-flex: 0.25;
  flex: 0.25; }

.Flex {
  display: -webkit-box;
  display: flex; }

.Flex-1 {
  -webkit-box-flex: 1;
  flex: 1; }

.Flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.Flex--end {
  -webkit-box-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end; }

.Flex--center {
  -webkit-box-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; }

.Space-between {
  -webkit-box-pack: justify;
  justify-content: space-between; }

.logo {
  width: 50px;
  height: 50px;
  background: #333; }

.Brand__logo {
  color: white; }

.Brand__inquiry {
  color: #333;
  background: #ddd; }
  .Brand__inquiry .Section__title {
    color: #333; }

.Brand__hero {
  width: 100%;
  height: 55vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }

.Brand__testimonials {
  position: relative;
  background: url("/images/wood-sm.jpg") no-repeat; }
  .Brand__testimonials::before {
    width: 90%;
    height: 90%;
    content: '';
    position: absolute;
    border: 1px solid #fefefe; }

.testimonials {
  width: 80%;
  margin-top: 10px; }

.Brand__testimonial blockquote {
  padding: 0;
  border: none !important; }

.Brand__testimonial--text {
  font-size: 16px;
  text-align: center; }

.About {
  height: 100%;
  padding: 40px;
  background: #ddd; }
  .About .Section__title {
    color: #333; }
  .About p, .About li {
    color: #333; }

.Inquiry-bg {
  margin-right: 20px;
  background: url("/images/inquire-now.jpg") no-repeat;
  background-position: bottom;
  background-size: cover; }

.How-it-works {
  background: #232122;
  padding: 20px 40px; }
  .How-it-works .Section__title {
    margin: 40px 0px; }
  .How-it-works .Step__title {
    color: white;
    text-align: center;
    margin-bottom: 20px; }
  .How-it-works img {
    margin: 0 auto; }

.Eyescream {
  background: url("/images/eyescream/bg.jpg") no-repeat;
  background-size: contain; }
  .Eyescream .Brand__logo,
  .Eyescream .Brand__images {
    background: #EA5E5C; }
  .Eyescream .Brand__hero {
    background-image: url("/images/eyescream/cover.jpg"); }
  .Eyescream .Brand__emoji {
    background: #FADA55; }
  .Eyescream .emoji {
    color: #EA5E5C; }
  .Eyescream .About {
    background: #F9F9F9 url("/images/eyescream/about.jpg") right center no-repeat; }
  .Eyescream .Content {
    margin-bottom: 0; }
  .Eyescream .Characters {
    margin-top: 40px; }

.Nancys-pizza {
  background: url("/images/nancys-pizza/bg.jpg") no-repeat;
  background-size: contain; }
  .Nancys-pizza .Brand__logo,
  .Nancys-pizza .Brand__images {
    background: #231F20; }
  .Nancys-pizza .Brand__hero {
    background-image: url("/images/nancys-pizza/cover.jpg"); }
  .Nancys-pizza .Brand__emoji {
    background: #EC1B23; }
  .Nancys-pizza .emoji {
    color: white; }
  .Nancys-pizza .About {
    background: #FAF8EB url("/images/nancys-pizza/about.png") right center no-repeat; }

.Krush-burger {
  background: url("/images/krush-burger/bg.JPG") no-repeat;
  background-size: contain; }
  .Krush-burger .Brand__logo,
  .Krush-burger .Brand__images {
    background: #FAA31B; }
  .Krush-burger .Brand__hero {
    background-image: url("/images/krush-burger/cover.jpg"); }
  .Krush-burger .Brand__emoji {
    background: #761213; }
  .Krush-burger .emoji {
    color: #FAA31B; }
  .Krush-burger .About {
    background: #F9F9F9; }

.Queens-chips {
  background: url("/images/queens-chips/bg.jpg") no-repeat;
  background-size: contain; }
  .Queens-chips .Brand__logo,
  .Queens-chips .Brand__images {
    background: #2A4634; }
  .Queens-chips .Brand__hero {
    background-image: url("/images/queens-chips/cover.jpg"); }
  .Queens-chips .Brand__emoji {
    background: #FCCE01; }
  .Queens-chips .emoji {
    color: #2A4634; }
  .Queens-chips .About {
    background: #FAF8EB url("/images/queens-chips/about.jpg") right bottom no-repeat; }

.Als-beef {
  background: url("/images/als-beef/bg.jpg") no-repeat;
  background-size: contain; }
  .Als-beef .Brand__logo,
  .Als-beef .Brand__images,
  .Als-beef .Brand__emoji {
    background: #FEF200; }
  .Als-beef .Brand__hero {
    background-image: url("/images/als-beef/cover.jpg"); }
  .Als-beef .emoji {
    color: black; }
  .Als-beef .About {
    background: #FAF8EB url("/images/als-beef/about.png") right center no-repeat; }

.play-video-icon {
  width: 80px;
  height: 80px;
  z-index: 2;
  position: relative;
  border-radius: 100%;
  border: 1px solid #fff;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  -webkit-animation: shadowPulse 1.25s 3s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: shadowPulse 1.25s 3s infinite cubic-bezier(0.66, 0, 0, 1); }

.play-video-icon > span {
  width: 0;
  height: 0;
  margin-right: -4px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 18px solid #fff; }

@-webkit-keyframes shadowPulse {
  to {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, 0); } }

@keyframes shadowPulse {
  to {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, 0); } }

footer {
  padding: 40px 0px 0px;
  background: #34383B; }
  footer .Footer__logo img {
    margin: 0 auto; }
  footer li {
    line-height: 24px; }
  footer a {
    color: white; }
    footer a:hover {
      color: white;
      text-decoration: underline; }

.Footer__title {
  color: white;
  margin-bottom: 30px; }

.Footer__text {
  color: white; }

.Links {
  list-style: none;
  padding-left: 0;
  text-align: right; }

.Follow_us {
  list-style: none;
  padding-left: 0; }
  .Follow_us li {
    margin: 0 20px; }

.Copyright {
  padding: 20px;
  margin-top: 40px;
  background: #282b2d; }

@media screen and (max-width: 320px) {
  .Content {
    margin: 0; }
  .Brand__row {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse; }
  .Brand__content--container {
    -webkit-box-flex: 1;
    flex: 1; }
  .Brand__image--container {
    -webkit-box-flex: 1;
    flex: 1; }
  .Brand__content {
    padding: 20px; }
    .Brand__content h3 {
      font-size: 26px;
      text-align: center; }
  .Brand__image {
    top: 0;
    right: 0;
    width: 100%;
    height: 50vh;
    position: relative; }
  .Brand__row--reverse .Brand__content--container {
    top: 0; }
  .Brand__row--reverse .Column {
    margin-left: 0; } }

@media screen and (max-width: 414px) {
  .Content {
    margin: 0; }
  .Brand__row {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse; }
  .Brand__content--container {
    -webkit-box-flex: 1;
    flex: 1; }
  .Brand__image--container {
    -webkit-box-flex: 1;
    flex: 1; }
  .Brand__content {
    padding: 20px; }
    .Brand__content h3 {
      font-size: 26px;
      text-align: center; }
  .Brand__image {
    top: 0;
    right: 0;
    width: 100%;
    height: 50vh;
    position: relative; }
  .Brand__row--reverse .Brand__content--container {
    top: 0; }
  .Brand__row--reverse .Column {
    margin-left: 0; } }

.flexslider {
  margin: 0 !important;
  border: 0 !important; }

.flex-direction-nav a {
  height: 50px !important; }

.flex-control-nav {
  display: none; }

.btn {
  border-radius: 0; }

.btn-link:active, .btn-link:hover, .btn-link:visited, .btn-link:focus {
  outline: 0 !important;
  box-shadow: none !important; }

.form-control {
  border-radius: 0; }

.video-js {
  width: 100%;
  height: 100%; }
  .video-js .vjs-tech {
    position: relative !important; }
  .video-js .vjs-big-play-button {
    height: 2em !important;
    width: 2em !important;
    top: 45% !important;
    left: 45% !important;
    line-height: 1.9em !important;
    border-radius: 1em !important; }

.vjs-poster {
  background-size: cover !important; }

.vjs-controls-disabled .vjs-poster {
  display: inline-block; }

.modal-dialog {
  width: 60vw; }

.modal-header {
  padding: 20px;
  background: #303135;
  position: relative; }
  .modal-header img {
    margin: 0 auto;
    width: 20%; }
  .modal-header .close {
    opacity: 1;
    color: white;
    top: 10px;
    right: 20px;
    margin-top: 0;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    text-shadow: none; }

/*# sourceMappingURL=app.css.map */
