// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

$orange: #FF5C01;
$skyBlue: #00D7D2;

.color-white {
	color: white !important;
}

.has-padding-20 {
	padding: 20px;
}

.min-height {
	min-height: 200px;
}

body {
	background: white;
	font-family: 'Raleway', sans-serif;
}

.Content {
	// margin: 0 6rem;
	margin-bottom: 20rem;
}

.Section__title {
	margin: 0;
	color: white;
	font-size: 30px;
	margin-bottom: 20px;
}

.emoji {
	font-size: 80px;
	font-family: sans-serif;
}

.Hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
	background-repeat: no-repeat;
    background-position: top center;
	background-image: url('/images/home-banner.jpg');
}

.has-vertical-scroll {
    height: 100%;
    overflow-y: scroll;
}

footer {
	padding: 2rem;
	background: #333;
	p {
		color: white;
		margin: 0;
	}
}

@import 'components/Grid';
@import 'components/Brand';
@import 'components/QueensChips';
@import 'components/AlsBeef';
@import 'components/ButtonMorph';
@import 'components/MediaQueries';
@import 'components/Overwrite';